*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Cliente_tp/nbproject/private/
/ServicoDirectoria_tp/nbproject/private/
/ServicoDirectoria_tp/dist/
/ServicoDirectoria_tp/build/
/Cliente_tp/build
/Cliente_tp/dist/
/Servidor_tp/nbproject/private/
/RMIGetRemoteFile/nbproject/private/
/rmi_getfile/nbproject/private/
/rmi_getfile/build/
/rmi_getfile/dist/
/Servidor_tp/build/
/Servidor_tp/dist/